---
import { Image } from "astro:assets";

import madArchLogo from "../../assets/logo/archActInMad.svg";
import madBeigeName from "../../assets/logo/madBeigeName.svg";
import { Icon } from "astro-icon/components";
---

<footer class="bg-madRed mt-8 pb-2 pt-4 md:mt-20">
  <div
    class="flex flex-col justify-between px-2 py-2 sm:flex-row sm:px-6 lg:px-8"
  >
    <div class="mb-4 flex flex-1 justify-center sm:mb-0">
      <div class="flex items-center gap-4">
        <div class="flex md:flex-col">
          <ul class="flex space-x-4 md:flex-col md:space-y-4">
            <li>
              <a
                title="Consultez notre page Youtube"
                aria-label="Suivez-nous sur Youtube"
                rel="noopener noreferrer"
                href="https://www.youtube.com/@ActInMad"
                target="_blank"
                class="text-madBack"
              >
                <Icon name="lucide:youtube" size="24" />
              </a>
            </li>
            <li>
              <a
                title="Consultez notre page Facebook"
                aria-label="Suivez-nous sur Facebook"
                rel="noopener noreferrer"
                href="https://www.facebook.com/share/1F9fBbu8Ux/"
                target="_blank"
                class="text-madBack"
              >
                <Icon name="lucide:facebook" size="24" />
              </a>
            </li>
          </ul>
        </div>

        <div class="flex md:flex-col">
          <ul class="flex space-x-4 md:flex-col md:space-y-4">
            <li>
              <a
                title="Consultez notre page Instagram"
                aria-label="Suivez-nous sur Instagram"
                rel="noopener noreferrer"
                href="https://www.instagram.com/act_in_mad/"
                target="_blank"
                class="text-madBack"
              >
                <Icon name="lucide:instagram" size="24" />
              </a>
            </li>
            <li>
              <a
                title="Consultez notre page LinkedIn"
                aria-label="Suivez-nous sur LinkedIn"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/company/act-in-mad/"
                target="_blank"
                class="text-madBack"
              >
                <Icon name="lucide:linkedin" size="24" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center text-center leading-tight">
      <div class="flex items-center">
        <Image
          src={madArchLogo}
          alt="L'arche d'Act In Mad"
          class="mb-2 h-8 w-auto"
        />
        <Image
          src={madBeigeName}
          alt="Le nom Act In Mad"
          class="ml-3 h-6 w-auto"
        />
      </div>
      <p class="text-madBack max-w-md">
        Compagnie de Théâtre <br />Ateliers Spectacles Amateurs <br />Oser le
        jeu • Frôler la folie !
      </p>
    </div>

    <div class="mt-3 flex flex-1 justify-center">
      <ul class="flex flex-col items-center gap-2 md:gap-3">
        <li>
          <a class="text-madBack" href="/Mentions">Mentions légales</a>
        </li>
        <li class="flex flex-row gap-2 md:hidden">
          <a class="text-madBack" href="/LeMag">Blog</a>
          <div class="text-madBack">/</div>
          <a class="text-madBack" href="/Faq">FAQ</a>
        </li>
        <li class="hidden md:flex">
          <a class="text-madBack" href="/LeMag">Le Mag'</a>
        </li>
        <li class="hidden md:flex">
          <a class="text-madBack" href="/Faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <p class="text-madBack text-xs">
      Made with &hearts; using
      <a
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">Astro</a
      >

      for Act In Mad &copy; 2025
    </p>
  </div>
</footer>
