@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme {
  --color-madBack: #f5ece1;
  --color-madRed: #8c1c13;
  --color-madText: #252525;
  --color-madEncart: #bf4342;

  --font-family-title: var(--font-madTitleFont);
  --font-family-body: var(--font-madBodyFont);
}

.rdp-root {
  --rdp-accent-color: #bf4342;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-family-title;
  }

  body {
    @apply font-family-body;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
