---
import UserDashboard from "../../components/dashboard/UserDashboard";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="">
    <UserDashboard client:load />
  </div>
</Layout>
