---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import lostClown from "../../src/assets/photos/bank/lostClown.jpeg";

// ! Ajouter le SEO des pages
---

<Layout>
  <div class="flex items-center justify-center">
    <div class="mb-72 mt-36 text-center">
      <h1 class="mb-8 text-2xl font-semibold">
        Oups ! Cette page n'existe pas.
      </h1>
      <Image
        src={lostClown}
        alt="Clown perdu, page 404"
        class="w-100 mx-auto rounded-lg"
      />
    </div>
  </div>
</Layout>
