---
import Layout from '../layouts/Layout.astro';
---

<Layout
  ><div
    class="flex flex-col items-center justify-center min-h-screen text-center bg-gray-50"
  >
    <h1 class="text-3xl font-bold text-gray-400">Bienvenue</h1>
    <h2 class="mt-2 text-xl font-medium text-gray-600">
      Nous sommes en répétition
    </h2>
    <a
      href="https://www.instagram.com/act_in_mad/"
      class="mt-4 px-6 py-3 bg-gradient-to-r from-[#8B0000] to-[#70554B] text-white text-lg font-medium rounded-lg shadow hover:from-[#A12C2C] hover:to-[#E9DCC6] transition-all"
    >
      Join our Instagram
    </a>
  </div>
</Layout>
