---
import Layout from "../layouts/Layout.astro";

import LieuCours from "../components/LieuCours.astro";
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <LieuCours />
  </div>
</Layout>
