---
import Layout from "../layouts/Layout.astro";

import LieuCours from "../components/static/LieuCours.astro";
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <p class="mt-4 text-gray-700">
      Une idée, un bug à signaler ou une fonctionnalité que vous rêvez d’avoir ?
      <br />
      <a
        href="/Contact"
        class="text-madRed cursor-pointer font-medium hover:underline"
      >
        Envoyez-nous un mot via le formulaire de contact
      </a>
    </p>
    <LieuCours />
  </div>
</Layout>
