---
import Layout from "../layouts/Layout.astro";

import LieuCours from "../components/static/LieuCours.astro";
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <p class="mt-4 text-gray-700">
      Une idée, un bug à signaler ou une fonctionnalité que vous rêvez d’avoir ?
      <br />
      <a
        href="/Contact"
        class="text-madRed cursor-pointer font-medium hover:underline"
      >
        Envoyez-nous un mot via le formulaire de contact
      </a>
    </p>
    <div class="mt-5 w-full max-w-6xl p-4 md:p-6">
      <h1 class="text-madRed text-center text-2xl md:text-left md:text-3xl">
        Lieu des cours
      </h1>
    </div>

    <LieuCours />
  </div>
</Layout>
