---
import Layout from "../layouts/Layout.astro";

import LieuCours from "../components/LieuCours.astro";
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <div
      class="flex flex-col justify-center md:flex-row max-w-6xl p-4 md:p-6 mt-5"
    >
      <a
        class="text-xl text-center md:text-3xl font-semibold text-madBack bg-gray-600 px-5 py-2 rounded-xl"
      >
        Inscription
      </a>
    </div>
    <div class="flex flex-col md:flex-row max-w-6xl p-4 md:p-6 gap-6">
      <div class="flex flex-col">
        <p class="text-left">
          Notre parcours d'inscription arrive bientôt sur scène ! <br />
          <br />
          En attendant, vous pouvez vous inscrire via la page du
          <a class="text-madRed font-bold underline" href="/Planning"
            >planning</a
          >.
          <br />
          Retrouvez toutes les informations sur nos lieux de cours ainsi que les
          réponses à vos questions dans notre <a
            class="text-madRed font-bold underline"
            href="/Faq">FAQ</a
          >.
        </p>

        <LieuCours />
      </div>
    </div>
  </div>
</Layout>
