---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <div
      class="flex flex-col justify-center md:flex-row max-w-6xl p-4 md:p-6 mt-5"
    >
      <a href=""
        class="text-xl text-center md:text-3xl font-semibold text-madBack bg-gray-600 px-5 py-2 rounded-xl"
      >
        Inscription
  </a>
    </div>
    <div class="flex flex-col md:flex-row max-w-6xl p-4 md:p-6 gap-6">
      <div class="flex flex-col">
        <p class="text-left">
          Notre parcours d'inscription arrive bientôt sur scène ! <br />
          <br />
          En attendant, contactez-nous via le
          <a class="text-madRed font-bold" href="/Contact"
            >formulaire de contact</a
          >.<br />
          Ou directement par mail à cette adresse :
          <a class="text-madRed font-bold" href="mailto:contact@actinmad.art"
            >contact@actinmad.art</a
          >
          <br />
          Retrouvez toutes les informations sur nos lieux de cours ainsi que les
          réponses à vos questions dans notre <a
            class="text-madRed font-bold"
            href="/Faq">FAQ</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
