---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';

// ! Ajouter le SEO des pages
---

<Layout>
  <div
    class="flex flex-col items-center justify-center min-h-screen overflow-hidden text-center bg-madBack"
  >
    <h1 class="text-3xl font-bold">Bienvenue</h1>
    <h2 class="mt-2 text-2xl font-medium">Nous sommes en répétition !</h2>
    <h3 class="mt-2 text-xl font-medium">
      En attendant la Première... <br />retrouvez-nous sur
    </h3>
    <a
      href="https://www.instagram.com/act_in_mad/"
      class="mt-4 p-3 text-white bg-madRed rounded-lg"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="instagram logo"
    >
    <Icon name="lucide:instagram" size="40" />
  </a>
  </div>
</Layout>
