---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-3xl p-6 pt-12 leading-snug">
    <h2 class="mb-4 text-2xl font-bold">Mentions légales</h2>
    <p><strong>Raison sociale :</strong> ACT IN MAD</p>
    <p><strong>Adresse :</strong> 11 rue Henri Germond 28120 Illiers-Combray</p>
    <p><strong>Email :</strong> contact@actinmad.art</p>
    <p><strong>Tel :</strong> 07 66 30 37 16</p>
    <p><strong>RCS :</strong> 923 254 270 00013</p>
    <p><strong>Directeur de publication :</strong> Laurence Pintena</p>
    <p>
      <strong>Hébergement du site :</strong>
      <a
        href="https://contabo.com/en/legal/impressum/"
        class="hover:text-blue-600">Contabo</a
      >
    </p>
    <address>
      Contabo GmbH, Aschauer Straße 32a, 81549 Munich, Germany<br />
      Tel: <a href="tel:+4989356471770">+49 89 3564717 70</a><br />
      VAT ID: HRB 180722
    </address>

    <h3 class="mt-6 text-xl font-bold">Propriété intellectuelle</h3>
    <p>
      Les créations réalisées par Act In Mad sont protégées au titre du droit
      d’auteur conformément aux dispositions des livres I à III du Code de la
      Propriété Intellectuelle. À ce titre, toute reproduction, représentation,
      utilisation, adaptation, modification, incorporation, traduction,
      commercialisation, partielles ou intégrales des éléments contenus dans ce
      site, sans l’autorisation écrite préalable de Act In Mad, est interdite,
      sous peine de constituer un délit de contrefaçon de droit d’auteur.
    </p>
    <p>
      Est toutefois autorisé, le téléchargement, l’enregistrement ou
      l’impression de textes ou images présentes sur le site pour un usage
      exclusivement personnel. Cependant, devront figurer, les mentions
      relatives aux droits d’auteurs et aux différents droits rattachés au
      patrimoine intellectuel du site de Act In Mad.
    </p>
    <p>
      Toutes formes de copie de contenus du site de Act In Mad ne donnent aucun
      droit dessus. Les contenus restent protégés et donc non-reproductibles ni
      utilisables dans un but commercial ou public. La transmission par voie
      électronique ou quelque autre manière d’éléments du site est également
      interdite.
    </p>
    <p>
      Act In Mad est une marque déposée et possède donc un nom et un logo
      distinctifs soumis aux droits de la propriété intellectuelle. Le nom Act
      In Mad ainsi que le logo du site sont donc protégés. Toutes reproductions,
      modifications, réutilisations ou suppressions du nom et/ou logo du site
      internet sont, par conséquent, formellement interdites.
    </p>

    <h3 class="mt-6 text-xl font-bold">Responsabilité</h3>
    <p>
      Le site Act In Mad fera tout son possible pour garder le site organisé,
      actualisé et contenant des informations exactes.
    </p>
    <p>
      Act In Mad ne saurait être tenu pour responsable d’erreurs, d’oublis, ou
      des résultats qui pourraient venir d’une mauvaise utilisation de ces
      informations.
    </p>
    <p>
      Act In Mad se réserve le droit de corriger les erreurs une fois reconnues
      et de réaménager à tout moment et sans préavis, dans un souci
      d’optimisation, une partie ou la totalité du site comprenant ses
      conditions d’utilisation sans que notre responsabilité en soit accusée.
    </p>

    <h3 class="mt-6 text-xl font-bold">Liens</h3>
    <p>
      Act In Mad ne pourra pas être tenu pour responsable des liens créés par
      d’autres sites redirigeant l’utilisateur vers nos services, nos cours et
      stages de théâtre ou encore vers les articles expliquant leurs bienfaits.
      Nous ne pouvons supporter aucune responsabilité quant aux contenus et
      autres formes de matériel ou d’exploitation du service mis à disposition
      par des liens externes à notre site. Tous téléchargements ou
      enregistrements de données résultant d’un accès par ces liens ne concerne
      en aucun cas la responsabilité de Act In Mad.
    </p>

    <h3 class="mt-6 text-xl font-bold">Confidentialité</h3>
    <p>
      Suivant les règlements imposés par la loi « informatique et liberté » du 6
      janvier 1978 modifiée en 2004, toute personne peut faire valoir son droit
      d’accès à ses données personnelles enregistrées sur le site de Act In Mad.
      Elle peut, à tout moment, demander une modification, une rectification ou
      encore une suppression de toutes informations collectées par le site de la
      compagnie la concernant en envoyant un courriel à l’adresse suivante :
      contact@actinmad.art
    </p>
    <p>
      Les informations personnelles collectées sont utilisées dans le but
      d’apporter des données complémentaires afin de personnaliser au mieux les
      programmes de cours de théâtre ainsi que les offres commerciales de Act In
      Mad et donc de mettre en place un meilleur suivi et accompagnement pour
      l’inscription en ligne aux différents stages et cours de théâtre
      disponibles.
    </p>
    <p>Ces informations sont utilisées exclusivement par Act In Mad.</p>
  </div>
</Layout>
