---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-4xl mx-auto p-8 mt-8 mb-10">
    <h1 class="text-3xl font-bold text-center mb-6">Mentions Légales</h1>

    <h2 class="text-2xl font-semibold mt-4">1. Informations Générales</h2>
    <p class="mt-2">
      Le présent site est édité par : <br /> Nom de l'entreprise ou du particulier
      <br /> Adresse <br /> Numéro de téléphone <br /> Adresse e-mail <br /> Numéro
      SIRET (si applicable)
    </p>

    <h2 class="text-2xl font-semibold mt-4">2. Directeur de la publication</h2>
    <p class="mt-2">Nom du responsable</p>

    <h2 class="text-2xl font-semibold mt-4">3. Hébergement du Site</h2>
    <p class="mt-2">
      Le site est hébergé par : <br /> Nom de l'hébergeur <br /> Adresse de l'hébergeur
      <br /> Numéro de téléphone de l'hébergeur
    </p>

    <h2 class="text-2xl font-semibold mt-4">4. Propriété Intellectuelle</h2>
    <p class="mt-2">
      Tous les contenus présents sur ce site (textes, images, logos, etc.) sont
      protégés par le droit d’auteur et sont la propriété exclusive de Nom de
      l'entreprise ou du particulier, sauf mention contraire. Toute
      reproduction, même partielle, est interdite sans autorisation préalable.
    </p>

    <h2 class="text-2xl font-semibold mt-4">
      5. Protection des Données Personnelles
    </h2>
    <p class="mt-2">
      Conformément au Règlement Général sur la Protection des Données (RGPD),
      vous disposez d’un droit d’accès, de modification et de suppression de vos
      données personnelles. Pour toute demande, vous pouvez nous contacter à
      [adresse e-mail].
    </p>

    <h2 class="text-2xl font-semibold mt-4">6. Responsabilités</h2>
    <p class="mt-2">
      L'éditeur du site met tout en œuvre pour assurer l'exactitude et la mise à
      jour des informations présentées sur ce site. Toutefois, il ne peut être
      tenu responsable des erreurs, omissions ou des dommages directs ou
      indirects pouvant résulter de l'utilisation du site.
    </p>

    <h2 class="text-2xl font-semibold mt-4">7. Liens Hypertextes</h2>
    <p class="mt-2">
      Le site peut contenir des liens vers d’autres sites internet. Nom de
      l'entreprise ou du particulier ne saurait être tenu responsable du contenu
      de ces sites externes.
    </p>

    <h2 class="text-2xl font-semibold mt-4">8. Droit Applicable</h2>
    <p class="mt-2">
      Les présentes mentions légales sont soumises au droit français. En cas de
      litige, et après tentative de recherche d’une solution amiable, les
      tribunaux français seront seuls compétents.
    </p>

    <h2 class="text-2xl font-semibold mt-4">Contact</h2>
    <p class="mt-2">
      Pour toute question relative aux mentions légales, vous pouvez nous
      contacter à [adresse e-mail].
    </p>
  </div>
</Layout>
