---
import Layout from "../layouts/Layout.astro";
import ResetPasswordForm from "../components/auth/ResetPasswordForm";
---

<Layout title="Réinitialiser le mot de passe">
  <div class="flex flex-col items-center p-4">
    <div class="mt-5 w-full max-w-md rounded-xl p-6">
      <ResetPasswordForm client:load />
    </div>
  </div>
</Layout>
