---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";

import defaultImg from "../assets/defaultImg.jpg";
// ! Ajouter le SEO des pages
---

<Layout>
  <div class="flex flex-col items-center p-4">
    <h1 class="text-xl md:text-2xl font-bold text-center">
      Notre scène se construit autour de trois valeurs fondatrices, véritables
      piliers de notre école :<br />OR<br />
      Trois grandes valeurs donnent le ton à notre aventure théâtrale chez Act In
      Mad :<br />OR<br />
      À Act In Mad, trois valeurs phares inspirent notre jeu et notre pédagogie :<br
      /><br />
    </h1>
    <div
      class="flex flex-col md:flex-row justify-center items-center md:space-x-20 space-y-4 md:space-y-0 p-4 rounded-3xl"
    >
      <a
        href="#creativite"
        class="text-xl md:text-3xl font-semibold text-madBack bg-madRed px-5 py-2 rounded-xl"
      >
        Créativité
      </a>
      <a
        href="#esprit"
        class="text-xl md:text-3xl font-semibold text-madBack bg-madRed px-5 py-2 rounded-xl"
      >
        Esprit d’équipe
      </a>
      <a
        href="#jeu"
        class="text-xl md:text-3xl font-semibold text-madBack bg-madRed px-5 py-2 rounded-xl"
      >
        Jeu
      </a>
    </div>

    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 mt-6">
      <h1
        id="creativite"
        class="text-madRed text-2xl md:text-3xl text-center md:text-left underline"
      >
        Créativité
      </h1>
    </div>
    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 gap-6">
      <div
        class="md:w-2/3 text-center md:text-left flex flex-col justify-center"
      >
        <p class="text-justify">
          Chez Act in Mad, nous pensons que la créativité est une source
          inépuisable de bien être chez l’individu. <br /><br />Le monde
          moderne, les exigences de productivité et de rentabilité au sein de
          l’entreprise, l’éducation basée uniquement sur la compétition
          accordent peu de place à une créativité “non vitale”.<br /><br /> Il n’est
          pas vital de peindre sur une toile, de jouer d’un instrument, de réciter
          des vers mais ce sont des moyens d’expression et de transmission qui font
          appel à une forme de créativité chez les individus, qu’ils soit récepteurs
          ou émetteurs.<br /><br /> La créativité circule ainsi entre les êtres,
          offrant des moments de pause et de liberté.<br /><br /> Parce que nous
          savons que le développement de la créativité renforce la confiance en soi
          et favorise un état de bien être, nous encourageons fortement le libre
          cours de la créativité de nos apprenti.e.s comédien.ne.s mais aussi de
          nos comédien.ne.s professionnel.le.s au sein de la Compagnie.
        </p>
      </div>
      <div class="md:w-1/3 flex items-center justify-center md:justify-end">
        <img
          src={defaultImg.src}
          alt="Support papier d'un texte de théâtre"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 mt-6 justify-end"
    >
      <h1
        id="esprit"
        class="text-madRed text-2xl md:text-3xl text-center md:text-right underline"
      >
        Esprit d’équipe
      </h1>
    </div>
    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 gap-6">
      <div class="md:w-1/3 flex items-center justify-center md:justify-end">
        <img
          src={defaultImg.src}
          alt="Support papier d'un texte de théâtre"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
      <div
        class="md:w-2/3 text-center md:text-left flex flex-col justify-center"
      >
        <p class="text-justify">
          Rejoindre Act in Mad, c’est immédiatement être acteur d’une troupe
          constituée autour d’un projet : la création d’un spectacle et les
          représentations dans un théâtre.<br /><br /> Nous accordons un large sens
          au mot “acteur” chez Act in Mad. Il s’agit de jouer bien sûr, mais aussi
          d’entrer en action au sein de la troupe afin de contribuer au succès collectif
          du spectacle. <br /><br />Les intérêts personnels sont mis de côté
          pour laisser place à un esprit d’équipe instauré par le professeur et
          metteur en scène.<br /><br /> Au fil des cours et des répétitions, se diffuse
          un sentiment de solidarité et de collaboration entre les membres de la
          troupe qui évoluent ensemble de manière harmonieuse, en combinant leurs
          compétences et leurs efforts.<br /><br /> Chacun se trouve ainsi motivé
          à donner le meilleur de lui-même, la confiance en soi et le respect mutuel
          sont développés. Les contributions de chacun sont reconnues et valorisées
          et les succès sont célébrés ensemble !
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 mt-6">
      <h1
        id="jeu"
        class="text-madRed text-2xl md:text-3xl text-center md:text-left underline"
      >
        Jeu
      </h1>
    </div>
    <div class="flex flex-col md:flex-row w-full max-w-6xl p-4 md:p-6 gap-6">
      <div
        class="md:w-2/3 text-center md:text-left flex flex-col justify-center"
      >
        <p class="text-justify">
          Chez Act in Mad, nous demandons à nos comédien.ne.s professionnel.le.s
          et apprenons à nos élèves comédien.ne.s à ne pas être sérieux, à ne
          pas réfléchir, à penser que rien n’est grave.<br /><br /> Nous prenons
          du recul, de la hauteur et aimons dédramatiser les situations courantes
          pour voir les choses sous d’autres angles et notamment sous l’angle du
          jeu.<br /><br /> Un plateau de théâtre est un bac à sable ! C’est à dire
          un terrain de jeux où chacun a le droit de jouer.<br /><br /> Tous les
          formes de corps, toutes les constructions mentales, toutes les originales
          sociales et raciales sont admises chez Act in Mad.<br /><br /> Jouer c’est
          oublier l’adulte que l’on est, lâcher prise, se libérer du regard des autres
          et ainsi laisser libre cours à toute forme de créativité qui ne demande
          qu’à s’exprimer. C’est dans cet état, libéré de tout jugement, qu’est abordée
          la pédagogie d’Act in Mad.
        </p>
      </div>
      <div class="md:w-1/3 flex items-center justify-center md:justify-end">
        <img
          src={defaultImg.src}
          alt="Support papier d'un texte de théâtre"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</Layout>
