---
import actInMadRed from "../assets/actInMadRed.svg";
---

<div
  class="relative min-h-screen bg-cover bg-center bg-[url('/background.svg')]"
>
  <div class="absolute inset-0 backdrop-blur-md z-0"></div>
  <div
    id="container"
    class="relative z-10 flex flex-col items-center justify-center h-screen px-6 text-center"
  >
    <div class="flex flex-col md:flex-row items-center gap-8">
      <!-- Logo -->
      <section id="hero" class="flex flex-col items-center md:items-start">
        <img src={actInMadRed.src} alt="ActInMad Logo" class="w-60 h-60" />
      </section>

      <!-- Content -->
      <div class="flex flex-col items-center md:items-start">
        <h1 class="text-3xl font-bold text-gray-400">Welcome</h1>
        <h2 class="mt-2 text-xl font-medium text-gray-600">
          We are building for you
        </h2>
        <section id="links" class="mt-4">
          <a
            href="https://www.instagram.com/act_in_mad/"
            class="inline-block px-6 py-3 bg-gradient-to-r from-[#8B0000] to-[#70554B] text-white text-lg font-medium rounded-lg shadow hover:from-[#A12C2C] hover:to-[#E9DCC6] transition-all"
          >
            Join our Instagram
          </a>
        </section>
      </div>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
  body {
    font-family: "Inter", sans-serif;
  }
</style>
