---
import AstroFont from './Font.astro';
import SEO from './Seo.astro';
import Nav from '../components/Navbar.astro';

const links = [
  { label: 'Acceuil', href: '/acceuil' },
  { label: 'Ateliers', href: '/ateliers' },
  { label: 'Compagnie', href: '/compagnie' },
  { label: 'Contact', href: '/contact' },
  // { label: 'Blog', href: '/blog' },
];

const authLinks = [
  { label: 'Login', href: '/login', type: 'primary' },
  // { label: 'Register', href: '/register', type: 'secondary' },
];
---

<!doctype html>
<html lang="fr">
  <head>
    <AstroFont />
    <SEO {...Astro.props.seo} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="images/faviconActInMad.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Act In Mad</title>
  </head>
  <body>
    <header>
      <Nav links={links} authLinks={authLinks} />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
