---
import AstroFont from './Font.astro';
import SEO from './Seo.astro';
import Nav from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const links = [
  { label: 'Acceuil', href: '/' },
  { label: 'Ateliers', href: '/Ateliers' },
  { label: 'Compagnie', href: '/Compagnie' },
  { label: 'Coulisses', href: '/Login' },
  { label: 'Contact', href: '/Contact' },
  // { label: 'Blog', href: '/blog' },
];

// const authLinks = [
// { label: 'Coulisses', href: '/login', type: 'primary' },
// { label: 'Register', href: '/register', type: 'secondary' },
// ];
---

<!doctype html>
<html lang="fr">
  <head>
    <AstroFont />
    <SEO {...Astro.props.seo} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/faviconActInMad.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Act In Mad</title>
  </head>
  <body class="bg-madBack">
    <header>
      <Nav links={links} />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
